<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1
        {
            text-align: center;
            color: aliceblue;
        }
        body
        {
            background-color: #412732;
        }
        a
        {
            color:white;
        }
    </style>
</head>
<body>
    <h1>UNIVERSITY VISVESVARAYA COLLEGE OF ENGINEERING</h1>
    <H1>            KR CIRCLE,BANGALORE</H1>
    <h1>              DBMS PROJECT</h1>
    <h1>PHARMACY MANAGEMENT SYSTEM</h1>
    <h1>                    BY</h1>
    <h1>            KUSHAL B(19GANSE024)</h1>
    <h1>                   AND</h1>
    <h1>         MOHAMMED DANISH RABBANI(19GANSE028)</h1>
    <h1><a href="{% url 'home' %}">GO TO PROJECT---></a></h1>
</body>
</html>